$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-dark: #ff7730;
$color-secondary-light: #ffb900;

$color-grey: #777;
$color-grey-light: #f7f7f7;

$padding-base: 1.6rem;
$width-nav-btn: 3.5rem;

$z-index-base: 0;
$z-index-btn-after: -1;
$z-index-menu-bg: 1;
$z-index-menu-hidden: -2;
$z-index-menu: 2;
$z-index-icons: 3;
