$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-dark: #ff7730;
$color-secondary-light: #ffb900;

$color-grey: #777;
$color-grey-light: #f7f7f7;

$padding-base: 1.6rem;

$z-index-base: 0;
$z-index-btn-after: $z-index-base - 1;
